<table class="visit-table">
    <thead>
        <tr>
            <th>رقم الفيزا</th>
            <th>رقم الجواز</th>
            <th>الكود</th>
            <th>رقم الطلب</th>
            <th>تاريخ الميلاد</th>
            <th>الاسم</th>
            <th>صالح من</th>
            <th>صالح حتى</th>
            <th>نوع الفيزا</th>
            <th>مدة الإقامة</th>
            <th>مكان الإصدار</th>
            <th>نوع الدخول</th>
            <th>الجنسية</th>
            <th>الغرض</th>
            <th>الصورة</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let visit of visits">
            <td>{{ visit.visaNo }}</td>
            <td>{{ visit.passportNo }}</td>
            <td>{{ visit.code }}</td>
            <td>{{ visit.applicationNo }}</td>
            <td>{{ visit.birthDate}}</td>
            <td>{{ visit.name }}</td>
            <td>{{ visit.validFrom}}</td>
            <td>{{ visit.validUntil}}</td>
            <td>{{ visit.typeOfVisa }}</td>
            <td>{{ visit.durationOfStay }}</td>
            <td>{{ visit.placeOfIssue }}</td>
            <td>{{ visit.entryType }}</td>
            <td>{{ visit.nationality }}</td>
            <td>{{ visit.purpose }}</td>
            <td><img style="width: 50px; height: 50px;" [src]="visit.image" alt="visit image"></td>
            <td>
                <button (click)="deleteVisit(visit._id)">Delete</button>
                <button (click)="onUpdateButtonClick(visit)" class="btn btn-primary btn-sm">تعديل</button>

            </td>
        </tr>
    </tbody>
</table>
<div class="pagination-container">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" href="javascript:void(0)" aria-label="Previous"
                    (click)="pageChanged(currentPage - 1)">
                    <span aria-hidden="true">السابق</span>
                </a>
            </li>
            <li *ngFor="let page of pages" class="page-item" [class.active]="page === currentPage">
                <a class="page-link" href="javascript:void(0)" (click)="pageChanged(page)">{{ page }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
                <a class="page-link" href="javascript:void(0)" aria-label="Next" (click)="pageChanged(currentPage + 1)">
                    <span aria-hidden="true">التالي</span>
                </a>
            </li>
        </ul>
    </nav>
</div>