<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>رقم الهوية</th>
      <th>رقم القيد</th>
      <th>رقم العملية</th>
      <th>مهنة المستخدم</th>
      <th>الرقم المسلسل للمستخدم</th>
      <th>الاسم</th>
      <th>تاريخ الإصدار</th>
      <th>الصورة</th>
      <th>تاريخ الحجز</th>
      <th>الرقم المسلسل للزوجة</th>
      <th>اسم الزوجة</th>
      <th>النوع</th>
      <th>الحالة</th>
      <th>الجنسية</th>
      <th>فئة الوظيفة</th>
      <th>الإجراءات</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.IdNumber }}</td>
      <td>{{ user.outgoingNumber }}</td>
      <td>{{ user.transactionNumber }}</td>
      <td>{{ user.userOccupation }}</td>
      <td>{{ user.userSerialNumber }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.releaseDate | removeTime }}</td>
      <td><img style="width: 50px; height: 50px;" [src]="user.image" alt="User Image"></td>
      <td>{{ user.dateBoking | removeTime }}</td>
      <td>{{ user.WifeSerialNumber }}</td>
      <td>{{ user.wifeName }}</td>
      <td>{{ user.type }}</td>
      <td>{{ user.condition }}</td>
      <td>{{ user.nationality }}</td>
      <td>{{ user.occupationCategory }}</td>
      <td>
        <button (click)="onUpdateButtonClick(user)" class="btn btn-primary btn-sm">تعديل</button>
        <button (click)="deleteUser(user._id)" class="btn btn-danger btn-sm">حذف</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="buttons-container">
  <button class="btn btn-secondary" (click)="goToAddUser()">إضافة بيانات المستخدمين الخاصة بالاستعلام عن تصاريح الزواج
    والاستعلام عن المعاملة</button>
  <button class="btn btn-secondary" (click)="goToSponsor()">إضافة بيانات الكفيل والعامل الخاصة بالاستعلام العام عن
    المعاملات</button>
</div>

<div class="pagination-container">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" href="javascript:void(0)" aria-label="Previous" (click)="pageChanged(currentPage - 1)">
          <span aria-hidden="true">السابق</span>
        </a>
      </li>
      <li *ngFor="let page of pages" class="page-item" [class.active]="page === currentPage">
        <a class="page-link" href="javascript:void(0)" (click)="pageChanged(page)">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" href="javascript:void(0)" aria-label="Next" (click)="pageChanged(currentPage + 1)">
          <span aria-hidden="true">التالي</span>
        </a>
      </li>
    </ul>
  </nav>
</div>