<form [formGroup]="sponsorForm" class="my-5" (ngSubmit)="onSubmit()" *ngIf="sponsorForm && !existingSponsor">
  <h2 class="text-center">نموذج اضافة كفيل</h2>
  <div>
    <label for="sponsorId">رقم هوية الكفيل:</label>
    <input type="text" id="sponsorId" formControlName="sponsorId">
    <div *ngIf="sponsorForm.get('sponsorId').invalid && sponsorForm.get('sponsorId').touched" class="error">
      <small *ngIf="sponsorForm.get('sponsorId').errors?.['required']">رقم هوية الكفيل مطلوب</small>
    </div>
  </div>
  <div>
    <label for="sourceNumber">رقم المصدر:</label>
    <input type="text" id="sourceNumber" formControlName="sourceNumber">
    <div *ngIf="sponsorForm.get('sourceNumber').invalid && sponsorForm.get('sourceNumber').touched" class="error">
      <small *ngIf="sponsorForm.get('sourceNumber').errors?.['required']">رقم المصدر مطلوب</small>
    </div>
  </div>
  <div>
    <label for="name">اسم الكفيل:</label>
    <input type="text" id="name" formControlName="name">
    <div *ngIf="sponsorForm.get('name').invalid && sponsorForm.get('name').touched" class="error">
      <small *ngIf="sponsorForm.get('name').errors?.['required']">اسم الكفيل مطلوب</small>
    </div>
  </div>
  <div>
    <label for="dateOfLastModification">تاريخ آخر تعديل:</label>
    <input type="date" id="dateOfLastModification" formControlName="dateOfLastModification">
    <div *ngIf="sponsorForm.get('dateOfLastModification').invalid && sponsorForm.get('dateOfLastModification').touched"
      class="error">
      <small *ngIf="sponsorForm.get('dateOfLastModification').errors?.['required']">تاريخ آخر تعديل مطلوب</small>
    </div>
  </div>

  <!-- Worker input fields -->
  <div formArrayName="workers">
    <div *ngFor="let worker of sponsorForm.get('workers').controls; let i=index">
      <div [formGroupName]="i">
        <h3>Worker {{ i + 1 }}</h3>
        <div>
          <label for="workerName">اسم العامل:</label>
          <input type="text" id="workerName" formControlName="workerName">
        </div>
        <div>
          <label for="residencyNumber">رقم الإقامة:</label>
          <input type="text" id="residencyNumber" formControlName="residencyNumber">
        </div>
        <div>
          <label for="typeOfConsent">نوع الموافقة:</label>
          <input type="text" id="typeOfConsent" formControlName="typeOfConsent">
        </div>
        <div>
          <label for="nationality">الجنسية:</label>
          <input type="text" id="nationality" formControlName="nationality">
        </div>
        <div>
          <label for="occupation">المهنة</label>
          <input type="text" id="occupation" formControlName="occupation">
        </div>
        <div>
          <label for="type">الحالة</label>
          <input type="text" id="type" formControlName="type">
        </div>
      </div>
    </div>
  </div>


  <!-- Add worker button -->
  <button type="button" (click)="addWorker()">إضافة عامل</button>
  <button type="submit" [disabled]="sponsorForm.invalid">إضافة الكفيل</button>
</form>



<div *ngIf="existingSponsor">
  <h3 style="text-align: center;">الكفيل موجود بالفعل</h3>
  <table>
    <thead>
      <tr>
        <th>الحقل</th>
        <th>القيمة</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>رقم هوية الكفيل</strong></td>
        <td>{{ existingSponsor.sponsorId }}</td>
      </tr>
      <tr>
        <td><strong>رقم المصدر</strong></td>
        <td>{{ existingSponsor.sourceNumber }}</td>
      </tr>
      <tr>
        <td><strong>اسم الكفيل</strong></td>
        <td>{{ existingSponsor.name }}</td>
      </tr>
      <tr>
        <td><strong>تاريخ آخر تعديل</strong></td>
        <td>{{ existingSponsor.dateOfLastModification | removeTime }}</td>
      </tr>
      <tr>
        <td><strong>عدد مرات البحث</strong></td>
        <td>{{ existingSponsor.searchCount }}</td>
      </tr>
      <tr>
        <td><strong>اخر جهاز تم البحث منه</strong></td>
        <td>
          <div class="device-info">
            <div><strong>نظام التشغيل:</strong> {{ deviceInfo.os || 'غير متوفر' }}</div>
            <div><strong>الجهاز:</strong> {{ deviceInfo.device || 'غير متوفر' }}</div>
            <div><strong>المتصفح:</strong> {{ deviceInfo.browser || 'غير متوفر' }}</div>
            <div><strong>التاريخ :</strong> {{ deviceInfo.date }}</div>
            <div><strong>الوقت:</strong> {{ deviceInfo.time || 'غير متوفر' }}</div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <h4 style="text-align: center;">العمال</h4>
  <table>
    <thead>
      <tr>
        <th>اسم العامل</th>
        <th>رقم الإقامة</th>
        <th>نوع الموافقة</th>
        <th>الجنسية</th>
        <th>المهنة</th>
        <th>الحالة</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let worker of existingSponsor.workers">
        <td>{{ worker.workerName }}</td>
        <td>{{ worker.residencyNumber }}</td>
        <td>{{ worker.typeOfConsent }}</td>
        <td>{{ worker.nationality }}</td>
        <td>{{ worker.occupation }}</td>
        <td>{{ worker.type }}</td>
      </tr>
    </tbody>
  </table>
</div>